API_ID=21911467
API_HASH=2e37d8eb31651b4d5c3391f8778c63a9
BOT_TOKEN=8291540759:AAGIqxeSnAEGi2GTO3fM2PUyL-5-GeqlIrQ
LOG_GROUP_ID=-1003368938931
API_KEY=NxGBNexGenBotsa54535
MONGO_DB_URI=mongodb+srv://music1ygffygfgdf_db_user:music1ygffygfgdf_db_user@cluster0.0lbiwen.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7538752811
STRING_SESSION=AQFOV6sAo368ghUGAnJgwjlGkpikoq2HY7Pq-zhNaKhuiANlkpXQdCsImzmouHNTpVEAobhJf9Fajpm4agXd7ArRNpaTbwKltUmnu9mZRDlb7j8_zZFKwXqcw0YLpqkTlXHNoVgJ-d_C2NX8sly3EdWbeLbZqmOcaltRg4u_AUA1UVplxpxVGj2_DpN6k0VQXtk3zeRpHeRz-88IpUHoRn7FpMAAifi88bKE2d-ZugjiFTjq6I9xdSrngeL4cEXpDuuKtPri4jPEBhAKmfRMhiEBxIaHCEeTDlPypTw90ni6ALhLIx0ovmdRkx2GmpoVg3XxqhfNZhiXG72gLLGowxmgJCJAugAAAAHwdptKAA
